html {
  font-size: 22px
}

body {
  background-color: #333;
  color: whitesmoke;
  text-align: center;
}

/* unvisited link */
a:link {
  color: limegreen;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: limegreen;
}

/* selected link */
a:active {
  color: lightgreen;
}
