html {
  font-size: 22px
}

body {
  background-color: #333;
  color: whitesmoke;
  text-align: center;
}

a:link {
  color: limegreen;
}

a:visited {
  color: lawngreen;
}

a:hover {
  color: lime;
}

a:active {
  color: greenyellow;
}
